<mat-toolbar color="primary">
    <button *ngIf="loggedInUser?.userType === 'admin'" (click)="sidenav.toggle()" mat-icon-button
        class="noBorder primary" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span class="ml15">Glashaus</span>
    <span class="spacer"></span>
    <span>{{loggedInUser?.userName}}</span>
    <span *ngIf="loggedInUser?.userType === 'admin'">(admin)</span>
</mat-toolbar>
<mat-sidenav-container class="sidenavContainer" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side">
        <mat-nav-list class="sideNavList">
            <ng-container *ngFor="let option of sideNavBarOptions">
                <mat-checkbox [(ngModel)]="option.state" class="checkboxStyle">{{option.name}}</mat-checkbox>
                <br />
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="text-center">
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="row">
            <ng-container *ngFor="let option of sideNavBarOptions; let i = index">
                <mat-card *ngIf="option.state" class=" col-md-4 box">
                    <mat-card-title>{{option.name}}</mat-card-title>
                    <mat-card-content>
                        <mat-form-field>
                            <mat-label>Graph Type</mat-label>
                            <mat-select (selectionChange)="graphTypeSetter(option.graphType,i)"
                                [(ngModel)]="option.graphType">
                                <mat-option *ngFor="let graph of graphOptions" [value]="graph">{{graph}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <canvasjs-chart [options]="option.chart"                            
                            [styles]="{width: '100%', height:'200px'}"></canvasjs-chart> -->
                        <canvas *ngIf="option.graphType === 'line'" attr.id="{{option.id}}line"
                            style="width: 100%; height: 200px;">{{option.lineChart}}</canvas>
                        <canvas *ngIf="option.graphType === 'bar'" attr.id="{{option.id}}bar"
                            style="width: 100%; height: 200px;">{{option.barChart}}</canvas>
                        <ng-container *ngIf="option.graphType === 'number'">
                            <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'
                                type='text/css'>
                            <div [ngStyle]="{'color': (+option.data.slice(-1)>50) ? 'rgb(227, 13, 13)' : 'rgb(25, 212, 97)'}"
                                class="temperatureFont">
                                {{+option.data.slice(-1)| number: '1.0-1'}}
                            </div>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>