<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button class="noBorder primary" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span class="ml15">Glashaus</span>
</mat-toolbar>
<mat-sidenav-container class="sidenavContainer" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side">
        <mat-nav-list class="sideNavList">
            <ng-container *ngFor="let option of sideNavBarOptions">
                <mat-checkbox [(ngModel)]="option.state" class="checkboxStyle">{{option.name}}</mat-checkbox>
                <br />
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="text-center">        
        <div class="row">
            <ng-container *ngFor="let option of sideNavBarOptions">
                <mat-card *ngIf="option.state" class=" col-md-4 box">
                    <mat-card-title>{{option.name}}</mat-card-title>
                    <mat-card-content>
                        <!-- <canvasjs-chart [options]="option.chart"                            
                            [styles]="{width: '100%', height:'200px'}"></canvasjs-chart> -->                            
                            <canvas  attr.id="{{option.id}}" style="width: 100%; height: 200px;">{{option.chart}}</canvas>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>